
line{
stroke:rgb(99,99,99); 
stroke-width:3;
}

text
{
font-family:Arial; 
font-size:12px; 
stroke-width:0; 
fill:blue;
}

text.rollover{
fill:green;
font-size:10px; 
}

circle{
stroke:rgb(99,99,99); 
stroke-width:1;
fill:red;
}

line.magnify{
stroke:red; 
stroke-width:3;
}
